/*表選択部*/
div.hhlsk{
	text-align: left;
	font-size: 18pt;
	margin-top: .75rem;
	margin-bottom: .5rem;
}
select{
	font-size: 14pt;
	padding: .25rem .5rem;
	margin: 0 .25rem;
	background: linear-gradient(#fff, #ccc);
	border: 1px;
	border-style: solid;
	border-color: #CCC;
	overflow: hidden;
	cursor: pointer;
}
select:hover{
	background: linear-gradient(#eee, #bbb);
}
option{
	font-size: 12pt;
}
table {
	text-align: center;
	border-collapse: separate;
	border-spacing: 0;
	overflow: hidden;
}
@media screen and(max-width: 700px){
    table{
        min-width: 100%;
    }
}
th {
	padding: 12px 20px;
	background: linear-gradient(#D00, #000);
	color: #efefef;
	font-weight: bold;
	text-shadow:.5px .5px 0 #000, -.5px -.5px 0 #000,
				-.5px .5px 0 #000, .5px -.5px 0 #000,
				0px .5px 0 #000,  0-.5px 0 #000,
				-.5px 0 0 #000, .5px 0 0 #000;
	border-right-width: 1px;
	border-right-style: groove;
	border-right-color: rgba(200, 200, 200, .7);

}
th:first-child{
	border-radius: 7px 0px 0px 0px;
	-webkit-border-radius: 7px 0px 0px 0px;
	-moz-border-radius: 7px 0px 0px 0px;
}
th:last-child{
	border-radius: 0px 7px 0px 0px;
	-webkit-border-radius: 0px 7px 0px 0px;
	-moz-border-radius: 0px 7px 0px 0px;
	border-right-style: none;
}
tr td {
	height: 2rem;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: dodgerblue;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: dodgerblue;
}
.hi{
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: dodgerblue;
}
tr.Sat{
	background-color:#a0d8ef;
}
tr.Sun{
	background-color:#ffc0cb;
}
.trna{
	color: #0070e0;
	min-width: 8rem;
}
.trki{
	color: #0070e0;
	min-width: 5rem;
}
.trbi{
	text-align: left;
	min-width: 16rem;
}
button.rbtn, input[type="submit"].rbtn{
	width: 6rem;
}
.acd-check{
    display: none;
}
.acd-label{
    display: inline-block;
    padding-left: 1rem;
    font-size: 14pt;
}
.acd-content{
    height: 0;
    opacity: 0;
    transition: .5s;
    padding-left: 2rem;
    visibility: hidden;
}
.acd-check:checked + .acd-label + .acd-content{
    height: 5.5rem;
    opacity: 1;
    padding: 0, 1rem;
    visibility: visible;
}
