:root {
	font-size: 12pt;
	background-color: #f5f0ea;
	color: #333;
	font-family: 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;

}
body{
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: 100%;
}
form{
	margin-bottom: 0;
}
/*ヘッダー部*/
header{
	background: linear-gradient(#D00, #000);
	height: 3.5rem;
	width: 100%;
	color: white;
	display: table;
}
span.nama{
	padding: 0 0 0 1rem;
	display: table-cell;
	font-size: 18pt;
	font-style: italic;
	vertical-align: middle;
}
span.slbtn{
	padding: 0 1rem 0 0;
	display: table-cell;
	vertical-align: middle;
	text-align: right;
}

/*表選択部*/
div.hhlsk{
	text-align: left;
	font-size: 18pt;
	margin-top: .75rem;
	margin-bottom: .5rem;
}
select{
	font-size: 14pt;
	padding: .25rem .5rem;
	margin: 0 .25rem;
	background: linear-gradient(#fff, #ccc);
	border: 1px;
	border-style: solid;
	border-color: #CCC;
	overflow: hidden;
	cursor: pointer;
}
select:hover{
	background: linear-gradient(#eee, #bbb);
}
option{
	font-size: 12pt;
}
input[type="submit"].yhhb{
	vertical-align: bottom;
    font-size: 14pt;
	padding: .14rem 1rem;
	margin-left: .5rem;
}

/**/
div.boya{
	margin: 1rem;
}
input[type="submit"]{
	background: linear-gradient(#D00, #000);
	border: 1.5px;
	border-radius: 1rem;
	border-style: solid;
	border-color: black;
	color: white;
	cursor: pointer;
	box-shadow: 2px 2px 2px rgba(0,0,0,.4);
	vertical-align: top;
}
input[type="submit"]:hover{
	background: linear-gradient(#F00, #222);
}
input[type="submit"]:active{
	box-shadow: none;
	position: relative;
	top: 1px;
}
table {
	text-align: center;
	border-collapse: separate;
	border-spacing: 0;
	overflow: hidden;
}
@media screen and(max-width: 600px){
    table{
        min-width: 100%;
    }
}
th {
	padding: 12px 20px;
	background: linear-gradient(#D00, #000);
	color: #efefef;
	font-weight: bold;
	text-shadow:.5px .5px 0 #000, -.5px -.5px 0 #000,
				-.5px .5px 0 #000, .5px -.5px 0 #000,
				0px .5px 0 #000,  0-.5px 0 #000,
				-.5px 0 0 #000, .5px 0 0 #000;
	border-right-width: 1px;
	border-right-style: groove;
	border-right-color: rgba(200, 200, 200, .7);

}
th:first-child{
	border-radius: 7px 0px 0px 0px;
	-webkit-border-radius: 7px 0px 0px 0px;
	-moz-border-radius: 7px 0px 0px 0px;
}
th:last-child{
	border-radius: 0px 7px 0px 0px;
	-webkit-border-radius: 0px 7px 0px 0px;
	-moz-border-radius: 0px 7px 0px 0px;
	border-right-style: none;
}
tr td {
	height: 2rem;
	/*padding: .25rem .5rem;*/
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: dodgerblue;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: dodgerblue;
}
.hi{
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: dodgerblue;
}
tr.Sat{
	background-color:#a0d8ef;
}
tr.Sun{
	background-color:#ffc0cb;
}
.trna{
	color: #0070e0;
	min-width: 8rem;
}
.trki{
	color: #0070e0;
	min-width: 5rem;
}
.trbi{
	text-align: left;
	min-width: 10rem;
}
button.rbtn, input[type="submit"].rbtn{
	width: 6rem;
}
div.htle{
	font-size: 26pt;
	text-shadow: 2px 2px 2px rgba(0,0,0,.4);
}

div.roya{
	margin: 1rem;
	font-size: 14pt;
}
.renai input{
	margin-left: 1rem;
}
.renai input[type=text]{
	padding: .5rem;
	font-size: 12pt;
	min-width: 20rem;
	background: #EEE;
	border: 1px;
	border-radius: 5px;
	border-style: solid;
	border-color: darkgoldenrod;
	box-shadow: inset 0px 1px 2px rgba(0,0,0,.4);
}
div.rehi, div.nreki{
	margin-left: 1rem;
}
div.reki{
	margin-top: .5rem;
	margin-left: 1rem;
}
span.rekel{
	font-size: 8pt;
	float: left;
	margin-right: 3rem;
}
div.reke{
	margin-bottom: 10px;
}
span.srehi{
	padding-bottom: none;
	border-bottom-width: 2px;
	border-bottom-style: groove;
	border-bottom-color: white;
}
span.srehit{
	padding-right: 5rem;
}

.acd-check{
    display: none;
}
.acd-label{
    display: inline-block;
    padding-left: 1rem;
    font-size: 14pt;
}
.acd-content{
    height: 0;
    opacity: 0;
    transition: .5s;
    padding-left: 2rem;
    visibility: hidden;
}
.acd-check:checked + .acd-label + .acd-content{
    height: 5.5rem;
    opacity: 1;
    padding: 0, 1rem;
    visibility: visible;
}
